* {
	border: none;
	font-family: Hack;
	font-weight: bold;
	background-color: transparent;
}

window {
	background-color: transparent;
	color: #ddd;
}

#window {
	margin-right: 4px;
	color: #89b4fa;
}

#clock {
	color: #94e2d5;
}

#disk {
	color: #a6e3a1;
}

#memory {
	color: #f9e2af;
}

#wireplumber {
	color: #a6e3a1;
}

#wireplumber.muted {
	color: #f38ba8;
}

#workspaces {	
	background-color: transparent;
}

#workspaces button {
	color: #89b4fa;
	min-width: 8px;
}

#workspaces button.active {
	color: #f5c2e7;
}

#window,
#clock,
#workspaces,
#memory,
#disk {
	margin-top: 4px;
	margin-bottom: 0px;
	margin-left: 4px;
	padding: 2px 8px;
	border-radius: 8px;
	background-color: #16161c;
}

window#waybar.empty #window {
	background-color: transparent;
}
